*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
input,button{
  height: 50px;
  width: 300px;
  border-radius: 4px;
  background-color: #bdb2b2;
  font-size: 40px;
  display: block;
  margin: 40px;
}