*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, bodY{
  height: 100%;
  width: 100%;
  background-color: #545353;
}

.card{
  background-color: pink;
  border-radius: 30px;
  padding: 30px;
  margin: 20px;
}