*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.card{
  display: inline-block;
  height: 400px;
  width: 300px;
  background-color:#ebe5e5;
  border-radius: 30px;
  padding: 20px;
  padding-top: 40px;
  margin-left: 30px;
  margin-top: 30px;
}
.card .top{
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.card .top img{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: transparent;
}
.center{
  padding-top: 40px;

}
.center h3{
  font-size: 22px;
  color: #111;
}
.center h3 span{
  font-size: 15px;
  color: #111;
  opacity: 0.5;
}
.center h2{
  padding-top: 10px;
  font-size: 23px;
  color: #111;
}
.center h4{
  margin-top: 15px;
  display: inline-block;
  background-color: #e9e3e3;
  padding: 5px 10px;
  margin-left: 10px;
  gap: 5px;
}
.bottom{
  border-top: #111 solid 1px;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.bottom button{
  cursor: pointer;
  margin-top: 30px;
  border: none;
  background-color: #111;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}
.save-btn{
  background: transparent !important;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
 
}
.bottom button:hover{
  background-color: #e9e3e3;
  color: #111;
  transition: all 0.3s ease;
}
