 @import "tailwindcss";

#tasklist::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
#tasklist::-webkit-scrollbar-track{
    background-color: #1a1a1a;
    border-radius: 10px;
}
#tasklist::-webkit-scrollbar-thumb{
    background-color: #903232;
    border-radius: 10px;
    
}