*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #111111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent{
  margin-top: 30px;
  
  background-color: #222;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
  padding-bottom: 10px;
}
.card{
  height: 400px;
  width: 500px;
  border: white 2px solid;
  gap: 10px;
  display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px;
  margin-left: 5px;

}
.card img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.btn{
  height: 40px;
  width: 100px;
  padding: 10px;
  background-color: #ddd4d4;
  border-radius: 10px;
  border: none;
}
